<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Application{% endblock %}</title>
    {# <link rel="stylesheet" href="{{ asset('css/style.css') }}"> #}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">

    {% block stylesheets %}{% endblock %}
</head>
<body>
    

    <main>
        {% block body %}{% endblock %}
    </main>

    <footer>
       
    </footer>

    <script src="{{ asset('js/script.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
